[Unit]
Description=Kea DHCP-DDNS Server
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Container]
ContainerName=kea-dhcp-ddns
Exec="/usr/sbin/kea-dhcp-ddns -c /etc/kea/kea-dhcp-ddns.conf"
Image={{ kea_ddns_container_image }}

Tmpfs=/tmp
Volume={{kea_paths_config}}:/etc/kea:ro,z
Volume=kea-run.volume:/run/kea
Volume=kea-data.volume:/kea

# Networking Options
Network=host

# Security Options
AddCapability=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ReadOnly=true
User=kea

# Misc Options
AutoUpdate=local
Timezone=local

[Service]
#EnvironmentFile=-{{ kea_paths_config }}/kea.env
Restart=always

[Install]
WantedBy=multi-user.target
